{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:shopify/esnext", "prettier"],
  "rules": {
    "no-console": 0,
    "prettier/prettier": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
